<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDayOperations" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://appservicesdayssvc.azurewebsites.net/DayOperations.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDayOperations"
                contract="WSDaysOperationsSVC.IDayOperations" name="BasicHttpBinding_IDayOperations" />
        </client>
    </system.serviceModel>
</configuration>